* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
a,
i {
  cursor: pointer;
}
section {
  padding-top: 100px;
}
/****************************************Header****************************************/
header {
  min-height: 370px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-image: linear-gradient(
      to right,
      rgb(236, 98, 6, 0.9),
      rgba(5, 3, 0, 0.2)
    ),
    url("../../img/banner2.jpg");
}
.header .container {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.header .header-left h2 {
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-weight: bold;
  font-size: 40px;
}
.header .header-right {
  display: flex;
  line-height: 100px;
}
.header .container i,
.header .container a {
  color: #ffffff;
  text-decoration: none;
}
.header .header-right .navbar-plus a {
  margin-right: 30px;
  font-weight: 600;
}
.header .header-right .navbar-plus a:hover {
  color: #ff6600;
  transition: all 0.5s;
}
.header-right .research {
  position: relative;
  margin-right: 10px;
}
.header-right .research input {
  font-size: 16px;
  line-height: 50px;
  width: 100%;
  padding-right: 50px;
  padding-left: 20px;
  border: none;
  border-radius: 10px;
}
.header-right .research input:focus {
  border-color: none;
}
.header-right .research .icon-search {
  position: absolute;
  color: #000000;
  top: 40px;
  left: 210px;
  line-height: 20px;
}
.header-right .switch-mode {
  font-size: 20px;
}
.header .heading {
  color: #ffffff;
  font-weight: 600;
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translateX(-50%);
}
.header .heading a {
  padding: 0 5px;
}
.header .page-active {
  color: #ff6600!important;
}
.header .page-active-mobile {
  background-color: #000 !important;
  color: #ff6600;
}
.header .navbar-toggler {
  background-color: transparent;
  border: none;
  color: #ffffff;
  display: none;
}
/****************************************EndHeader****************************************/
/* aboutus */

.aboutus_content {
  align-items: center;
}

.aboutus_content .aboutus_top {
  display: flex;
}

.aboutus_content .col_left {
  width: 50%;
}

.aboutus_content .col_left img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.aboutus_content .col_right {
  width: 50%;
}

.aboutus_content .col_right h3 {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}

.aboutus_content .col_right p {
  line-height: 26px;
  margin-bottom: 1.5rem !important;
}
.my-4 {
  margin-top: 1.5rem !important;
}
.button {
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  border-radius: 5px;
  border: 2px solid transparent;

  color: #fff;
  background-color: #ff6600;
  margin-top: 0.5rem !important;
}

.title-subhny {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: #ff6600;
  display: block;
  font-family: "Pacifico", cursive;
}

.title-w3l {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}

img {
  vertical-align: middle;
}

.aboutus_top {
  align-items: center;
  margin-bottom: 3rem !important;
  margin-top: 3rem;
}

.aboutus_bot {
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  grid-gap: 30px;
  align-items: center;
  display: grid;
}

.aboutus_bot h4 a {
  color: #ff6600;
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  text-decoration: none;
}

.aboutus_bot .grid p {
  margin-top: 5px;
}

.intro_aboutus {
  padding-bottom: 3rem;
}

.intro_aboutus .aboutus_bot .grid:hover h4 a {
  color: #ffc600;
}

.intro_aboutus .aboutus_top .col_right:hover .button {
  opacity: 0.8;
}

/* Skills */
.skills_aboutus {
  background-color: #f7f7f7;
  padding-top: 3rem;
}

p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: var(--font-color);
  font-family: "Quicksand", sans-serif;
}

.skills_aboutus .skills_bars h6 {
  font-size: 18px;
  color: black;
  margin-bottom: 10px;
  font-weight: 700;
}

.skills_bars .progress_info {
  margin-bottom: 25px;
  text-align: left;
}

.skills_row .col_left .row_left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 30px;
}

.skills_row {
  display: flex;
  /* flex-wrap: wrap; */
  margin-right: -15px;
  margin-left: -15px;
}

.skills_row img {
  width: 100%;
  height: auto;
}

.skills_row .row_left {
  padding-left: 3rem;
}

.mb-3 {
  margin-bottom: 1rem;
}
.skills_bars {
  margin-top: 1.5rem;
}

.progress {
  display: flex;
  height: 0.5em;
  overflow: hidden;
  font-size: 0.75em;
  background-color: rgb(22 28 45 / 70%);
  border-radius: 0.25em;
}
.w3l-skills .progress-bar {
  background-color: var(--primary-color);
  /* transition: width 0.6s ease; */
}
.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #ff6600;
  transition: width 0.6s ease;
}

/* our team */

.team_aboutus .header_title {
  text-align: center;
}

.img_team img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: -85px;
}

.team_row {
  margin-top: 3rem;
  display: flex;
}

.col_team {
  width: 33.3%;
  text-align: center;
}

.overlay_team {
  opacity: 0;
  z-index: 10;
}

.overlay_main {
  position: absolute;
  bottom: 30%;
}

.img_team:hover .overlay_team {
  opacity: 1;
}

.icon_team i {
  font-size: 16px;
  margin-right: 5px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  line-height: 42px;
  text-align: center;
  color: white;
  background: rgba(157, 157, 157, 0.5);
}

.item_team .team-title {
  text-decoration: none;
  margin: 70px 0 0px;
  font-size: 24px;
  color: black;
  font-weight: 700;
  display: block;
}

.col_team .item_team:hover .team-title {
  color: #ff6600;
}

.overlay_team .icon1:hover i {
  color: #ff6600;
  background-color: #f7f7f7;
}

.overlay_team .icon2:hover i {
  color: #ff6600;
  background-color: #f7f7f7;
}

.overlay_team .icon3:hover i {
  color: #ff6600;
  background-color: #f7f7f7;
}

.team_aboutus {
  margin-bottom: 100px;
}

/****************************************Footer****************************************/
footer {
  background-color: #000000;
}
footer .col .item {
  color: #ffffff;
}
footer .row .item p,
footer .item ul li a,
footer .license {
  text-decoration: none;
  font-size: 17px;
  color: #a5a2a1;
}
footer .row .item p {
  padding-right: 35px;
}
footer .row .item h3 a,
footer .row .item h4 {
  font-weight: 700;
  color: #ffffff;
}
footer .row .item h3 a:hover,
footer .row .item a:hover {
  color: #ff6600;
  transition: all 0.5s;
}
footer ul {
  list-style: none;
  padding-left: 0;
  line-height: 2;
}
footer .row .item .socialnetwork a i {
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-size: 16px;
  color: #ff6600;
  background-color: #ffffff;
  border-radius: 5px;
  margin-right: 10px;
}
footer .row .item .socialnetwork a i:hover {
  background-color: #ff6600;
  color: #ffffff;
  transition: all 0.5s;
}
footer .item input {
  padding: 15px;
  border-radius: 5px;
  font-size: 18px;
}
footer .row input[type="email"]:focus {
  border: 1px solid #ff6600 !important;
  box-shadow: none;
}

footer .row .item .btn {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  background-color: #ff6600;
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
}
footer .item .btn:hover {
  opacity: 0.8;
}
footer .license {
  justify-content: space-between;
}
footer .license a {
  text-decoration: none;
  color: #a5a2a1;
  margin-right: 30px;
}
footer .copyright-right a:hover,
footer .license .copyright-left .special {
  color: #ff6600;
}
footer .license .special:hover {
  color: #ffffff;
}
/****************************************End Footer****************************************/
.uptotop {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #ff6600;
  border-radius: 50%;
  text-align: center;
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: #ffffff;
  display: block;
}
.uptotop:hover {
  color: #ffffff;
  opacity: 0.6;
}
/* desktop */
@media screen and (max-width: 1200px) {
}
/* tablet */
@media screen and (max-width: 992px) {
  header {
    min-height: 260px;
  }
  .header .header-right .navbar-plus,
  .header .header-right .research {
    display: none;
  }
  .header .navbar-toggler {
    display: block;
  }
  .header .switch-mode {
    line-height: 108px;
  }
}

@media screen and (max-width: 768px) {
  .header .header-right {
    line-height: 100px;
  }
  .intro_aboutus .aboutus_content .col_left {
    width: 100%;
  }
  .intro_aboutus .aboutus_content .col_right {
    width: 100%;
  }
  .aboutus_content .aboutus_top {
    flex-wrap: wrap;
  }
  .intro_aboutus .col_right h3,
  .intro_aboutus h3 {
    font-size: 30px;
  }
  .aboutus_bot {
    grid-template-columns: 1fr;
  }
  .col_team {
    width: 50%;
  }
  .team_row {
    flex-wrap: wrap;
  }
  .skills_aboutus .skills_row {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 390px) {
  .header .header-right {
    line-height: 50px;
  }
  .offcanvas-end{
    width: 300px !important;
  }
}
