* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
a,
i {
  cursor: pointer;
}
section {
  padding-top: 100px;
}
/****************************************Header****************************************/
header {
  min-height: 370px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-image: linear-gradient(
      to right,
      rgb(236, 98, 6, 0.9),
      rgba(5, 3, 0, 0.2)
    ),
    url("../../img/banner2.jpg");
}
.header .container {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.header .header-left h2 {
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-weight: bold;
  font-size: 40px;
}
.header .header-right {
  display: flex;
  line-height: 100px;
}
.header .container i,
.header .container a {
  color: #ffffff;
  text-decoration: none;
}
.header .header-right .navbar-plus a {
  margin-right: 30px;
  font-weight: 600;
}
.header .header-right .navbar-plus a:hover {
  color: #ff6600;
  transition: all 0.5s;
}
.header-right .research {
  position: relative;
  margin-right: 10px;
}
.header-right .research input {
  font-size: 16px;
  line-height: 50px;
  width: 100%;
  padding-right: 50px;
  padding-left: 20px;
  border: none;
  border-radius: 10px;
}
.header-right .research input:focus {
  border-color: none;
}
.header-right .research .icon-search {
  position: absolute;
  color: #000000;
  top: 40px;
  left: 210px;
  line-height: 20px;
}
.header-right .switch-mode {
  font-size: 20px;
}
.header .heading {
  color: #ffffff;
  font-weight: 600;
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translateX(-50%);
}
.header .heading a {
  padding: 0 5px;
}
.header .page-active {
  color: #ff6600!important;
}
.header .page-active-mobile {
  background-color: #000 !important;
  color: #ff6600;
}
.header .navbar-toggler {
  background-color: transparent;
  border: none;
  color: #ffffff;
  display: none;
}
/****************************************EndHeader****************************************/
/* 
.contact_info */

.title-subhny {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: #ff6600;
  display: block;
  font-family: "Pacifico", cursive;
  /* text-align: center; */
}

.title-w3l {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.header-title {
  text-align: center;
  margin-bottom: 3rem;
}

.form_contact {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 20px;
}

.contact_info input {
  border: 1px solid transparent;
  color: #161c2db3;
  font-size: 18px;
  padding: 12px 20px;
  line-height: 28px;
  width: 100%;
  border-radius: 10px;
  height: 58px;
  background: #f7f7f7;
}

.submit_right {
  text-align: right;
}

.contact_info textarea {
  resize: none;
  min-height: 200px;
  width: 100%;
  border: 1px solid transparent;
  background: #f7f7f7;
  font-size: 18px;
  line-height: 28px;
  padding: 12px 20px;
  border-radius: 10px;
}

.btn-style,
.btn-white {
  color: #fff;
  background-color: #ff6600;
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  /* transition: 0.3s ease-in; */
  border-radius: 10px;
  border: 2px solid transparent;
  margin-top: 1.5rem;
}

.contact_us .contact_info .submit_right:hover .btn-style {
  opacity: 0.5;
}

/* find us */
iframe {
  width: 100%;
  height: 400px;
}

.findus_row {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  grid-gap: 20px;
}

.gird_left {
  display: grid;
  grid-template-columns: 20px auto;
  grid-column-gap: 20px;
}

.left_title {
  margin-bottom: 3rem;
}

/* .gird_left{
    margin-bottom: 9px;
} */

.cont-right h5 {
  font-size: 20px;
  color: black;
  font-weight: 600;
}

.cont-right p {
  font-size: 18px;
  line-height: 28px;
  color: black;
}

.cont-left span {
  font-size: 20px;
  margin-top: 5px;
  color: #ff6600;
}

.cont-left i {
  font-size: 20px;
  margin-top: 5px;
  color: #ff6600;
}

.add_contact .cont-right p {
  padding-right: 3rem;
}

.find_us {
  padding-bottom: 100px;
}

.find_us .cont-right a {
  color: black;
}

.find_us .cont-right :hover a {
  text-decoration: underline;
}

/****************************************Footer****************************************/
footer {
  background-color: #000000;
}
footer .col .item {
  color: #ffffff;
}
footer .row .item p,
footer .item ul li a,
footer .license {
  text-decoration: none;
  font-size: 17px;
  color: #a5a2a1;
}
footer .row .item p {
  padding-right: 35px;
}
footer .row .item h3 a,
footer .row .item h4 {
  font-weight: 700;
  color: #ffffff;
}
footer .row .item h3 a:hover,
footer .row .item a:hover {
  color: #ff6600;
  transition: all 0.5s;
}
footer ul {
  list-style: none;
  padding-left: 0;
  line-height: 2;
}
footer .row .item .socialnetwork a i {
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-size: 16px;
  color: #ff6600;
  background-color: #ffffff;
  border-radius: 5px;
  margin-right: 10px;
}
footer .row .item .socialnetwork a i:hover {
  background-color: #ff6600;
  color: #ffffff;
  transition: all 0.5s;
}
footer .item input {
  padding: 15px;
  border-radius: 5px;
  font-size: 18px;
}
footer .row input[type="email"]:focus {
  border: 1px solid #ff6600 !important;
  box-shadow: none;
}

footer .row .item .btn {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  background-color: #ff6600;
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
}
footer .item .btn:hover {
  opacity: 0.8;
}
footer .license {
  justify-content: space-between;
}
footer .license a {
  text-decoration: none;
  color: #a5a2a1;
  margin-right: 30px;
}
footer .copyright-right a:hover,
footer .license .copyright-left .special {
  color: #ff6600;
}
footer .license .special:hover {
  color: #ffffff;
}
/****************************************End Footer****************************************/
.uptotop {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #ff6600;
  border-radius: 50%;
  text-align: center;
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: #ffffff;
  display: block;
}
.uptotop:hover {
  color: #ffffff;
  opacity: 0.6;
}

/*desktop*/
@media screen and (max-width: 1200px) {
}
/* tablet */
@media screen and (max-width: 992px) {
  header {
    min-height: 260px;
  }
  .header .header-right .navbar-plus,
  .header .header-right .research {
    display: none;
  }
  .header .navbar-toggler {
    display: block;
  }
  .header .switch-mode {
    line-height: 108px;
  }

  .find_us .findus_row {
    grid-template-columns: 1fr;
  }
}
/* điện thoại (xoay ngang) */
@media screen and (max-width: 768px) {
  .header .header-right {
    line-height: 100px;
  }
}
/* điện thoại (xoay dọc) */
@media screen and (max-width: 390px) {
  .header .header-right {
    line-height: 50px;
  }
  .offcanvas-end{
    width: 300px !important;
  }
}
